.main {
  &__button-container {
    display: flex;
    height: 10vw;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
  }
  &__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include respond(desktop) {
      grid-template-columns: 11.5rem 33.5rem 1fr 11.5rem;
      outline: auto;
    }
  }
  &__grid-element {
    display: grid;
    // grid-area: 1/3/2/4;

    &--text {
      margin-left: 3.2rem;
    }
    &--price {
      margin-left: 3.2rem;
    }
    & img {
      margin: auto;
      max-width: 80%;
    }
  }
  &__show-more {
    display: block;
    font-size: 2rem;
    margin-top: 7rem;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 10rem;
  }
}

.main__grid-element--3 {
  grid-column-start: span 2;
  height: 40rem;

  @include respond(desktop) {
    display: none;
  }
  &--img {
    height: 80%;
    width: 85%;
    object-fit: cover;
  }
}
